@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Josefin Bold";
  src: url("/assets/fonts/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "Josefin BoldItalic";
  src: url("/assets/fonts/JosefinSans-BoldItalic.ttf");
}

@font-face {
  font-family: "Josefin Light";
  src: url("/assets/fonts/JosefinSans-Light.ttf");
}

@font-face {
  font-family: "Josefin Regular";
  src: url("/assets/fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "Josefin Semibold";
  src: url("/assets/fonts/JosefinSans-SemiBold.ttf");
}

.bold {
  font-family: "Josefin Bold";
}

.regular {
  font-family: "Josefin Regular";
}

.navbarColor {
  border-bottom: 2px solid lightgray;
  background-color: white;
}

.containerMargin {
  margin-top: 40px;
}

.cardGroupMargins {
  margin-left: -120px;
  margin-right: -120px;
}

.box {
  box-shadow: 0 0.5px 0.5px 0 rgba(0, 0, 0, 0.2),
    0 1px 4px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

body {
  // background: rgb(28,156,200);
  // background: radial-gradient(circle, rgba(28,156,200,1) 43%, rgba(255,255,255,1) 100%);
  //   background: rgb(28, 152, 209);
  //   background: linear-gradient(
  //     90deg,
  //     rgba(28, 152, 209, 1) 0%,
  //     rgba(20, 157, 204, 1) 31%,
  //     rgba(255, 255, 255, 1) 100%
  //   );
  background: white;
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  display: flex;
}

.blog-slider {
  width: 85%;
  position: relative;
  max-width: 675px;
  margin: auto;
  background: #fff;
  box-shadow: 20px 18px 90px rgba(38, 39, 90, 0.3);
  padding: 25px;
  border-radius: 25px;
  height: 345px;
  transition: all 0.3s;
  color: black;
  margin-bottom: 52px;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: 350px;
  }

  &__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }
      .blog-slider__content {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }
        }
      }
    }
  }

  &__img {
    // width: 40%;
    width: 260px;
    flex-shrink: 0;
    height: 260px;
    background-image: linear-gradient(147deg, #ffffff 0%, #555555 74%);
    // box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);

    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(147deg, #ffffff 0%, #555555 74%);
      border-radius: 20px;
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      //    opacity: 0;
      border-radius: 20px;
      transition: all 0.3s;
    }

    @media screen and (max-width: 992px) {
      // width: 45%;
    }
    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      width: 90%;
    }
    @media screen and (max-width: 576px) {
      width: 95%;
    }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
  }

  &__content {
    // width: 60%;
    height: 300px;
    padding-top: 0px;
    width: 800px;
    margin-right: 10px;
    margin-left: -36px;

    @media screen and (max-width: 992px) {
      // width: 55%;
    }
    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0;
    }
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &__code {
    display: contents;
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &__title {
    display: contents;
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
    font-family: "Josefin Bold";
  }

  &__text {
    display: contents;
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    font-family: "Josefin Semibold";
  }

  &__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #149dcc 0%, gray 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    // box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  &__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
    @media screen and (max-width: 768px) {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0;
      @media screen and (max-width: 768px) {
        margin: 0 5px;
      }
    }

    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s;
      &-active {
        opacity: 1;
        background: #fd3838;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
      }
    }
  }
}

.form {
  width: 100%;
  position: relative;
  margin: auto;
  background: #fff;
  box-shadow: 20px 18px 90px rgba(38, 39, 90, 0.3);
  padding: 40px;
  border-radius: 25px;
  transition: all 0.3s;
  color: black;
  margin-bottom: 52px;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: 350px;
  }
}

.titleRow {
  height: 78px;
}

.spanRow {
  margin: auto;
}

.fontLarge {
  font-size: x-large;
  color: #444444;
}

.formLabel {
  font-family: "Josefin Regular";
  font-size: 17px;
}

.formInput {
  border-radius: 15px;
}

input:active .formInput {
  border: "1px solid red";
  color: red;
}

.formButton {
  background-image: linear-gradient(147deg, #149dcc 0%, gray 74%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  // box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  border-color: transparent;
}

.select {
  margin: 10px;

  .react-select {
    &__control {
      border: 0;
      border-radius: 0;
      color: red;
    }

    &__indicator-separator {
      display: none;
    }

    &__menu {
      border-radius: 0;
      position: absolute;
      width: 100%;
      z-index: 100;
    }
  }
}

.budgetInput {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 13px;
  font-family: "Josefin SemiBold";
}

.badge {
  background-color: #aaaaaa;
  border: 1px solid lightgray;
  margin-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 4px;
  color: black;
  border-radius: 4px;
  cursor: default;
}

.bagdeRow {
  margin-top: 10px;
}

.boxRow {
  margin-top: 8px;
}

.detail {
  width: 100%;
  position: relative;
  margin: auto;
  background: #fff;
  box-shadow: 20px 18px 90px rgba(38, 39, 90, 0.3);
  padding: 40px;
  /* border-radius: 25px; */
  transition: all 0.3s;
  color: black;
  /* margin-bottom: 52px; */
  margin-top: 3px;
  height: 100vh;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: 350px;
  }
}

.jumbotron {
  background-color: white;
  margin: 0;
  border-radius: 18px;
  box-shadow: 20px 18px 90px rgba(38, 39, 90, 0.3);
}

.imageBox {
  border: 1px solid lightgray;
  border-top: transparent;
  border-bottom: transparent;
}

.titleDetail {
  margin-top: 500px;
}

.icon {
  height: 40px;
  color: #555555;
}

.detailMargin {
  margin-top: 200px;
}

.marginRow {
  margin-bottom: 120px;
}

.marginTopRow {
  margin-top: 15px;
}

.imagePosition {
  width: 60px;
  height: 60px;
  margin-left: 15px;
  padding: 9px;
}
